/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img.jpg');
  background-repeat: none;
  background-size: cover;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #828181bc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1, h2 {
  color: #000000;
  text-align: center;
}

.application-form {
  margin-bottom: 20px;
}

.application-form input,
.application-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ad5a5a;
  border-radius: 4px;
  font-size: 16px;
  background-color: #dadada;
}

.application-form button {
  background-color: #505f71;
  color: rgb(26, 25, 25);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.application-form button:hover {
  background-color: #357ab8;
}

.application-list,
.scholarship-history {
  list-style: none;
  padding: 0;
}

.application-list li,
.scholarship-history li {
  background: #f1f0f06c;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #181818;
  border-radius: 4px;
}

.application-list p,
.scholarship-history p {
  margin: 5px 0;
}

button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #357ab8;
}